<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if name %}
  <title>{{ name }}</title>
  {% else %}
  <title>Proyecto en desarrollo</title>
  {% endif %}
  <link rel="stylesheet" href="./static/style.css">
</head>

<body>
  {% if name %}
  <h1>{{ name }}</h1>
  {% else %}
  <h1>Proyecto en desarrollo</h1>
  {% endif %}
  <table id="customers">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>lastname</th>
        <th>phone</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {%- for row in items|batch(1, '&nbsp;') %}
      <tr>
        {%- for column in row %}
        <td>{{ column.id }}</td>
        <td>{{ column.name }}</td>
        <td>{{ column.lastname }}</td>
        <td>{{ column.phone }}</td>
        <td>{{ column.email }}</td>
        {%- endfor %}
      <tr>
        {%- endfor %}
    </tbody>
  </table>

</body>

</html>